# Global owners
* @tbenthompson @MarcAntoineSchmidtQC @xhochy

# Core
/src/glum/ @MarcAntoineSchmidtQC

# Cython / C++
*.pyx @tbenthompson
*.cpp @tbenthompson

# GLM benchmarks
/src/glum_benchmarks/ @tbenthompson

# Docs
/docs/ @MarcAntoineSchmidtQC

# CI
/.github/  @tbenthompson
/conda.recipe/ @tbenthompson

# Scripts
/scripts/ @jtilly
