# Taken directly from https://github.com/ambv/black/blob/master/.flake8
[flake8]
ignore =
    B905,
    # allow calling dict() instead of the literal {} for readability
    C408,
    E203,
    # too many leading # for block comments
    E266,
    # line too long, conflict with black
    E501,
    E731,
    # linebreak before binary operator, conflict with black
    W503,
    C901,
    D104,
    D100,
    # Why does flake8 think it should have any say in our docstring formatting??
    D205,
    # see above...
    D400
max-line-length = 88
max-complexity = 18
select = B,C,E,F,W,T4,B9,D
enable-extensions = flake8-docstrings
per-file-ignores =
    tests/**:D101,D102,D103
    src/glum/_glm.py:D
docstring-convention = numpy
