repos:
 - repo: https://github.com/Quantco/pre-commit-mirrors-black
   rev: 19.10b0
   hooks:
     - id: black-conda
       args:
         - --safe
         - --target-version=py36
 - repo: https://github.com/Quantco/pre-commit-mirrors-flake8
   rev: v3.7.9
   hooks:
    - id: flake8-conda
      additional_dependencies: [
          flake8-bugbear,
          flake8-builtins,
          flake8-comprehensions,
          flake8-docstrings,
          flake8-print,
          pep8-naming,
        ]
 - repo: https://github.com/Quantco/pre-commit-mirrors-isort
   rev: 5.1.1
   hooks:
    - id: isort-conda
      additional_dependencies: [toml]
 - repo: https://github.com/Quantco/pre-commit-mirrors-mypy
   rev: "0.761"
   hooks:
    - id: mypy-conda
      args:
       - --check-untyped-defs
       - --ignore-missing-imports
       - --namespace-packages
 - repo: https://github.com/Quantco/pre-commit-mirrors-pyupgrade
   rev: 1.26.0
   hooks:
    - id: pyupgrade-conda
