tensorflow
tensorflow-probability
pre-commit
black
flake8
pytest
git_root
pandas
pyarrow
matplotlib
ipython
jupyterlab
ipdb
pyglmnet
scikit-learn
statsmodels
compilers 
line_profiler
cython
mkl
mkl-include
