name: glum
channels:
  - conda-forge/label/tabmat_dev
  - conda-forge
  - nodefaults
dependencies:
  # required for users (note: this is not where you specify new dependencies
  # for the conda packages. please put those `conda.recipe/meta.yaml`!!
  - libblas>=0=*mkl  # comment this line out for macOS arm64
  - numexpr
  - pandas>=0.21
  - tabmat>=4.0.0a
  - scikit-learn>=0.23
  - scipy
  - tqdm
  - formulaic>=0.4

  # development tools
  - black
  - flake8
  - git_root
  - ipdb
  - ipython
  - line_profiler
  - memory_profiler
  - pip
  - pre-commit
  - pyarrow
  - pytest
  - pytest-xdist
  - setuptools_scm

  # build tools
  - c-compiler
  - cxx-compiler
  - cython

  # required for tests
  - statsmodels

  # documentation dev
  - jinja2
  - jupyterlab
  - jupytext
  - make
  - matplotlib-base
  - nbclassic>=0.2.8
  - nbsphinx>=0.8.3
  - sphinx>=3.5.3
  - sphinx_rtd_theme
  - sphinxcontrib-apidoc
  - sphinxext-altair

