name: quantcore.glm
channels:
  - ***REMOVED***
  - conda-forge
  - nodefaults
dependencies:
  - altair
  - black
  - c-compiler
  - cxx-compiler
  - cython
  - dask-ml
  - flake8
  - git_root
  - h2o-py
  - ipdb
  - ipython
  - jemalloc
  - johnlees-glmnet_python
  - jupyterlab
  - libblas>=0=*mkl
  - line_profiler
  - make
  - mako
  - memory_profiler
  - mkl-include
  - numexpr
  - openjdk
  - pandas
  - pip
  - pre-commit
  - pyarrow
  - pytest
  - pytest-xdist
  - quantcore.matrix>=1.0.0
  - rpy2
  - scikit-learn
  - setuptools_scm
  - sparse_dot_mkl>=0.5.3
  - sphinx
  - sphinx_rtd_theme
  - sphinxcontrib-apidoc
  - tqdm
  - xsimd
