[build-system]
requires = [
  'setuptools',
  'setuptools-scm',
  'wheel',
  'Cython',
  'oldest-supported-numpy',
  'scikit-learn',
]

[tool.black]
exclude = '''
/(
    \.eggs
  | \.git
  | \.venv
  | build
  | dist
)/
'''

[tool.isort]
multi_line_output = 3
include_trailing_comma = true
ensure_newline_before_comments = true
line_length = 88
known_first_party = "glum"
skip_glob = '\.eggs/*,\.git/*,\.venv/*,build/*,dist/*'
default_section = 'THIRDPARTY'

[tool.cibuildwheel]
skip = ["cp310-win32", "cp310-manylinux_i686", "pp*", "*-musllinux_*", "cp311*"]
test-requires = ["pytest", "pytest-xdist"]
environment = "GLM_ARCHITECTURE='default'"

[tool.cibuildwheel.macos]
before-all = [
  "brew install llvm libomp",
]

[tool.cibuildwheel.macos.environment]
LDFLAGS="-L/usr/local/lib"
CXX="/usr/local/opt/llvm/bin/clang++"
CC="/usr/local/opt/llvm/bin/clang"

[tool.cibuildwheel.windows.environment]
SETUPTOOLS_USE_DISTUTILS="stdlib"

[tool.pytest.ini_options]
# Filters are standard python warning filters as described here:
# https://docs.python.org/3/library/warnings.html#the-warnings-filter
filterwarnings = [
    "ignore:.*distutils.*:DeprecationWarning:.*",
    "ignore:.*distutils.*:UserWarning:.*",
    "ignore:.*The 'u' format is deprecated.*:DeprecationWarning:pywintypes",
]
