black
compilers 
cython
flake8
git_root
ipdb
ipython
jupyterlab
libblas=*=*mkl
line_profiler
matplotlib
memory_profiler
mkl-include
openjdk
pandas
pre-commit
pyarrow
pytest
scikit-learn
setuptools_scm
statsmodels