name: CI
on: [push]

jobs:
  linter:
    name: "Linter (pre-commit)"
    runs-on: ubuntu-latest
    env:
      CI: True
    strategy:
      fail-fast: false
    steps:
     - name: Docker login
       run: docker login docker.pkg.github.com -u ${{ github.actor }} -p ${{ secrets.FQ_GH_TOKEN }}
     - name: Pull image
       run: docker pull docker.pkg.github.com/***REMOVED***/***REMOVED***:latest
     - name: Checkout branch
       uses: actions/checkout@v2.1.0
       with:
         ref: ${{ github.head_ref }}
     - name: Run linter inside of container
       uses: ./.github/actions/linter
  linux:
    name: "Linux - tests - Py${{ matrix.PYTHON_VERSION }}"
    runs-on: ubuntu-latest
    env:
      CI: True
    strategy:
      fail-fast: false
      matrix:
        PYTHON_VERSION: ['3.6', '3.7', '3.8']
    steps:
     - name: Docker login
       run: docker login docker.pkg.github.com -u ${{ github.actor }} -p ${{ secrets.FQ_GH_TOKEN }}
     - name: Pull image
       run: docker pull docker.pkg.github.com/***REMOVED***/***REMOVED***:latest
     - name: Checkout branch
       uses: actions/checkout@v2.1.0
       with:
         ref: ${{ github.head_ref }}
     - uses: GoogleCloudPlatform/github-actions/setup-gcloud@master
       with:
         version: '290.0.1'
         project_id: ${{ secrets.GCP_UPLOAD_PROJECT_ID }}
         service_account_email: ${{ secrets.GCP_UPLOAD_SA_EMAIL }}
         service_account_key: ${{ secrets.GCP_UPLOAD_SA_KEY }}
         export_default_credentials: true
     - name: Run CI inside of container
       uses: ./.github/actions/unittests
       with:
         python_version: ${{ matrix.PYTHON_VERSION }}
     # - name: Publish Docs
     #   run: cd docs/_build/html && gsutil -m cp -r * gs://***REMOVED***/${GITHUB_REPOSITORY}/${GITHUB_SHA}/
  linux-conda-build:
    name: "Linux - conda-build - Python ${{ matrix.PYTHON_VERSION }}"
    runs-on: ubuntu-latest
    env:
      CI: True
    strategy:
      fail-fast: false
      matrix:
        PYTHON_VERSION: ['3.6', '3.7', '3.8']
    steps:
      - name: Docker login
        run: docker login docker.pkg.github.com -u ${{ github.actor }} -p ${{ secrets.FQ_GH_TOKEN }}
      - name: Pull image
        run: docker pull docker.pkg.github.com/***REMOVED***/***REMOVED***:latest
      - name: Checkout branch
        uses: actions/checkout@v2.1.0
        with:
          ref: ${{ github.head_ref }}
      - name: Fetch full git history
        run: git fetch --prune --unshallow
      - name: Run CI inside of container
        uses: ./.github/actions/conda-build
        with:
          python_version: ${{ matrix.PYTHON_VERSION }}
  macos:
    name: "MacOS - tests - Python ${{ matrix.PYTHON_VERSION }}"
    runs-on: macos-latest
    env:
      CI: True
      ***REMOVED***: ${{ secrets.***REMOVED*** }}
      ***REMOVED***: ${{ secrets.***REMOVED*** }}
      PYTHON_VERSION: ${{ matrix.PYTHON_VERSION }}
    strategy:
      fail-fast: false
      matrix:
        PYTHON_VERSION: ['3.6', '3.7', '3.8']
    steps:
      - name: Checkout branch
        uses: actions/checkout@v2.1.0
        with:
          ref: ${{ github.head_ref }}
      - name: Run Unit Tests
        run: ./.github/workflows/macos.sh
  macos-conda-build:
    name: "MacOS - conda-build - Python ${{ matrix.PYTHON_VERSION }}"
    runs-on: macos-latest
    env:
      CI: True
      ***REMOVED***: ${{ secrets.***REMOVED*** }}
      ***REMOVED***: ${{ secrets.***REMOVED*** }}
      PYTHON_VERSION: ${{ matrix.PYTHON_VERSION }}
    strategy:
      fail-fast: false
      matrix:
        PYTHON_VERSION: ['3.6', '3.7', '3.8']
    steps:
      - name: Checkout branch
        uses: actions/checkout@v2.1.0
        with:
          ref: ${{ github.head_ref }}
      - name: Run Unit Tests
        run: ./.github/workflows/macos-conda-build.sh
  windows-conda-build:
    name: "Windows - conda-build - Python ${{ matrix.PYTHON_VERSION }}"
    runs-on: windows-latest
    env:
      CI: True
      ***REMOVED***: ${{ secrets.***REMOVED*** }}
      ***REMOVED***: ${{ secrets.***REMOVED*** }}
      PYTHON_VERSION: ${{ matrix.PYTHON_VERSION }}
    strategy:
      fail-fast: false
      matrix:
        PYTHON_VERSION: ['3.6', '3.7', '3.8']
    steps:
      - name: Checkout branch
        uses: actions/checkout@v2.1.0
        with:
          ref: ${{ github.head_ref }}
      - name: Fetch full git history
        run: git fetch --prune --unshallow
      - uses: goanpeca/setup-miniconda@v1
        with:
          auto-update-conda: true
          auto-activate-base: true
          activate-environment: ""
          python-version: ${{ matrix.python-version }}
          channels: conda-forge
      - name: Setup custom channel
        shell: pwsh
        run: >
          conda config --system --prepend channels ***REMOVED***;
          conda config --system --set custom_channels.***REMOVED*** https://${Env:***REMOVED***}:${Env:***REMOVED***}@conda.***REMOVED***;
          conda info
      - name: Install dependencies
        shell: pwsh
        run: conda install -y conda-build conda-channel-client
      - name: conda-build
        shell: pwsh
        run: conda build --python $Env:PYTHON_VERSION conda.recipe
