name: Daily runs
on:
  schedule:
    - cron: '0 5 * * *'
  workflow_dispatch:
  push:
    paths:
    - '.github/workflows/daily.yml'

jobs:
  linux-daily-unittests:
    name: "Linux - daily unit tests - ${{ matrix.NOTE }}"
    runs-on: ubuntu-latest
    env:
      CI: True
    strategy:
      fail-fast: false
      matrix:
        include:
          - environment: 'nightly'
            NOTE: 'Nightly Builds' # run once with nightlies
          - environment: 'py313'
            NOTE: 'Python 3.13' # run once with normal dependencies
    steps:
      - name: Checkout branch
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Set up pixi
        uses: prefix-dev/setup-pixi@00ff9955aafc3069179be56a98a299a34332d59b
        with:
          environments: ${{ matrix.environment }}
      - name: Update dependencies
        run: pixi update -e ${{ matrix.environment }}
      - name: Install nightlies
        if: matrix.environment == 'nightly'
        run: pixi run -e ${{ matrix.environment }} install-nightlies
      - name: Install repository
        run: pixi run -e ${{ matrix.environment }} postinstall
      - name: Run pytest
        run: pixi run -e ${{ matrix.environment }} test -nauto
      - name: Run doctest
        # Check that the readme example will work by running via doctest.
        # We run outside the repo to make the test a bit more similar to
        # a user running after installing with conda.
        run: |
          mkdir ../temp
          cp README.md ../temp
          mkdir ../temp/data
          cp data/housing.parquet ../temp/data
          cd ../temp
          pixi run --manifest-path ../glum/pixi.toml -e ${{ matrix.environment }} python -m doctest -v README.md

      - name: Issue on failure
        uses: actions/github-script@60a0d83039c74a4aee543508d2ffcb1c3799cdea # v7.0.1
        if: ${{ failure() && github.ref == 'refs/heads/main' }}
        with:
          script: |
            github.rest.issues.listForRepo({
              owner: context.repo.owner,
              repo: context.repo.repo,
              state: "open",
              labels: "[bot] Daily run"
            }).then((issues) => {
              if (issues.data.length === 0){
                github.rest.issues.create({
                  owner: context.repo.owner,
                  repo: context.repo.repo,
                  title: "Daily run failure: Unit tests",
                  body: "The daily unit tests failed. See https://github.com/Quantco/glum/actions/runs/${{ github.run_id }} for details.",
                  assignees: ["MarcAntoineSchmidtQC"],
                  labels: ["[bot] Daily run"]
                })
              }
            });
